{% extends "users/email/base.html" %}
{% load i18n %}


{% block header %}
    <h1>{% trans "Welcome on board" %}</h1>
{% endblock %}



{% block content %}
    AAA

    <h3>{% trans "Click the following link and set your password" %}</h3>


    {% include "emailing/btn.html" with href=account_confirm_url label="Activate your account" %}


    <h3>
        {% blocktrans %}
        Then, <a href="{{ login_url }}" >log in</a> with your username
        {% endblocktrans %} <b>{{ user.get_username }}</b>
    </h3>







{% endblock %}


