{% extends "users/email/base.html" %}
{% load i18n %}


{% block header %}

{% endblock %}



{% block content %}
    <h1>{% blocktrans with first_name=user.first_name last_name=user.last_name %}Welcome on board {{ first_name }} {{ last_name }}{% endblocktrans %}</h1>

    <h3>{% trans "Click the following link and set your password" %}</h3>

    {% trans "Activate your account" as label %}
    {% include "emailing/btn.html" with href=account_confirm_url label=label %}


    <p>
        {% blocktrans with username=user.get_username %}
        Then, <a href="{{ login_url }}" >log in</a> with your username <b>{{ username }}</b>
        {% endblocktrans %}
    </p>






{% endblock %}


