{% extends "users/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Activate your account" %}{% endblock %}


{% block content %}
    {% if validlink %}
        <h3>{% trans "Activate your account" %}</h3>
        {% block extra_content %}
        {% endblock %}

        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success"><i class="fa fa-angle-right"></i> {% trans "Set password" %}</button>
        </form>

    {% else %}
        <h1>{% trans 'Account activation unsuccessful' %}</h1>
        <p>{% trans "The Account activation link was invalid, possibly because it has already been used." %}</p>
    {% endif %}

{% endblock %}
