{% extends "users/base.html" %}
{% load i18n %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block bodyclass %}login{% endblock %}


{% block content %}
        <h1>Login</h1>
        
        <form action="{{ login_url }}" method="post" id="login-form">{% csrf_token %}
        
            {% if form.errors and not form.non_field_errors and not form.this_is_the_login_form.errors %}
            <p class="errornote">
            {% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
            </p>
            {% endif %}
            {{ form.this_is_the_login_form.errors }}
           
            {% for error in form.non_field_errors %}
            <p class="errornote">
                {{ error }}
            </p>
            {% endfor %}
        
          <div class="form-row {% if form.username.errors %}error{% endif %}">
            {% if not form.this_is_the_login_form.errors %}{#{ form.username.errors }#}{% endif %}
            <label for="id_username" class="required">{% trans 'Username:' %}</label> {{ form.username }}
          </div>
          <div class="form-row {% if form.password.errors %}error{% endif %} password" >
            {% if not form.this_is_the_login_form.errors %}{#{ form.password.errors }#}{% endif %}
            <label for="id_password" class="required">{% trans 'Password:' %}</label> {{ form.password }}
            <input type="hidden" name="this_is_the_login_form" value="1" />
            <input type="hidden" name="next" value="{{ next }}" />
            
          </div>
          <div class="submit-row">
            <input type="submit" value="{% trans 'Log in' %}" />
             <a href="{{ password_reset_url }}" class="forgot_password">{% trans "Forgot your password?" %}</a>
             <div class="clear"></div>
          </div>
        </form>
       
        
        <script type="text/javascript">
        document.getElementById('id_username').focus()
        $('#login-form').submit(function() {
            var u = $('input[name="username"]')
            u.val(u.toLowerCase())
        })
        </script>
{% endblock %}


