{% extends "users/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Login" %}{% endblock %}


{% block content %}


        {% if validlink %}
        <h2>{%  trans "Reset your password" %}</h2>

        <div class="alert alert-info">{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</div>

        <form action="" method="post">{% csrf_token %}
            {{ form|crispy }}
            <div class="submit-row">
                <button class="btn btn-primary" type="submit" >{% trans 'Reset my password' %}</button>
            </div>
       </form>

        {% else %}

        <h2>{% trans 'Password reset unsuccessful' %}</h2>

        <div class="alert alert-warning">
            {% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
        </div>
        
        {% endif %}


{% endblock %}
