{% extends "users/base.html" %}
{% load i18n %}

{% block title %}{% trans "Login" %}{% endblock %}


{% block content %}

        <h2>{% trans "You've got mail" %}</h2>
        <div class="alert alert-info">
            {% trans "We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly." %}
        </div>
        <a href="{{ login_url }}" class="btn btn-primary"><i class="fa fa-angle-double-right"></i> Einloggen</a>
{% endblock %}
