{% extends "users/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Login" %}{% endblock %}


{% block content %}

    <h2>{% trans "Password reset" %}</h2>

    <div class="alert alert-info">
        {% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}
    </div>
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary"><i class="fa fa-angle-right"></i> {% trans "Reset password" %}</button>

    </form>
{% endblock %}
