{% extends "users/base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block bodyclass %}account-process{% endblock %}

{% block content %}

        <h1>{% trans 'Password reset successful' %}</h1>
        <p>{% trans "We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly." %}</p>
          <div class="buttons mega"><a href="{{ login_url }}">{% trans 'Log in' %}</a></div>
{% endblock %}
